*{
	margin: 0;
	padding: 0;	
}
html{
	height: 100%
}

/*body{
	background: #7574;
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
}*/


#menu{
	top: 0;
	background: #FDFDFD;
}

#menu ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	position: relative;
	display:inline-block;
}

#menu ul li a{
	font-family: 'Ubuntu', sans-serif;
	color: black;
	display:block;
	margin-top: 0px;
	padding: 20px;
	text-decoration:none;
}

#menu ul li a:hover{
	background-color: #783FD4;
}

.item-r{
	float: right;
}

.submenu{
	position: absolute;
	background: #00BB9E;
	width: 120%;
	display: none;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: black;
}

#menu li:hover .submenu{
	display: block;
}

footer{
	align-self: flex-end;
	background-color: #313131;
	line-height: 3;
	text-align: center;
	width: 100%;
}

footer a i{
	color: #7E7E7E;
	padding: 20px;
	border-color:none;
}
footer a i:hover{
	color:white;
}


